 #Write a program that takes a list of numbers from the user (until they enter ‘done’),
then prints the list, its sorted version (ascending and descending)

In [ ]:
numbers = [7,20,23,40]
x = input("Enter number (or done): ")
while x != "done":
    numbers.append(int(x))
    x = input("Enter number (or done): ")

print("List", numbers)
print("Ascending", sorted(numbers))
print("Descending", sorted(numbers, reverse=True))

Enter number (or done): 4
Enter number (or done): 30
Enter number (or done): done
List [7, 20, 23, 40, 4, 30]
Ascending [4, 7, 20, 23, 30, 40]
Descending [40, 30, 23, 20, 7, 4]

Create a function modify_list(lst) that receives a list, appends 100 to it, inserts 999
at index 2, removes the first occurrence of 50 (if exists), pops the last element, and
returns the modified list.

In [10]:
lst = [10, 50, 30, 40, 50]

def modify_list(lst):
    lst.append(100)
    lst.insert(2, 999)

    if 50 in lst:
        lst.remove(50)

    lst.pop()
    return lst

print(modify_list(lst))

[10, 999, 30, 40, 50]

Write a program that asks the user for 5 student names and their grades, stores
them in a list of lists (e.g. [[‘Ali’, 85], [‘Sara’, 92]]), then prints the student with the
highest and lowest grade

In [1]:
students = []

for i in range(5):
    name = input("Enter student name: ")
    grade = int(input("Enter grade: "))
    students.append([name, grade])

highest = students[0]
lowest = students[0]

for student in students:
    if student[1] > highest[1]:
        highest = student
    if student[1] < lowest[1]:
        lowest = student

print("Highest grade:", highest[0], highest[1])
print("Lowest grade:", lowest[0], lowest[1])

Enter student name: mohamed
Enter grade: 7
Enter student name: ahmed
Enter grade: 5
Enter student name: amr
Enter grade: 3
Enter student name: mostafa
Enter grade: 6
Enter student name: yassin
Enter grade: 2
Highest grade: mohamed 7
Lowest grade: yassin 2

Create a function modify_fruits(fruits) that takes a list of fruits, does the following in
order:
- Appends “kiwi”
- Inserts “grape” at index 2
- Changes the item at index 0 to
uppercase version
- Removes the second item (by index) using pop()
- Returns the modified list

In [ ]:
fruits=["apple","mango","orange","cherry","lemon"]

def my_function (fruits) :
  fruits.append("kiwi")
  fruits.insert(2,"grape")
  fruits[0]=fruits[0].upper()
  fruits.pop(2)
  return fruits
print(my_function(fruits))

['APPLE', 'mango', 'orange', 'cherry', 'lemon', 'kiwi']

Write a program that asks the user for their name and age (two inputs), stores them
in a small list [name, age], then uses if-elif-else to print different messages: “Young”
if age < 18, “Adult” if 18–60, “Senior” otherwise.

In [12]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

person = [name, age]

if age < 18:
    print("Young")
elif 18 <= age <= 60:
    print("Adult")
else:
    print("Senior")

Enter your name: amr
Enter your age: 19
Adult

 Implement a program that creates a list of temperatures (you choose 10 values),
then uses a for loop to count how many are above 30 and how many below 15, and
prints both counts

In [13]:
temperatures = [12, 35, 28, 40, 10, 15, 33, 8, 27, 22]

above_30 = 0
below_15 = 0

for temp in temperatures:
    if temp > 30:
        above_30 += 1
    if temp < 15:
        below_15 += 1

print("Number of temperatures above 30:", above_30)
print("Number of temperatures below 15:", below_15)

Number of temperatures above 30: 3
Number of temperatures below 15: 3

Create a function remove_all_occurrences(lst, value) that removes all occurrences
of a given value from the list

In [14]:
def remove_all_occurrences(lst, value):
    while value in lst:
        lst.remove(value)
    return lst

Write a number guessing game: computer has a fixed number (e.g. 42), user
guesses via input() in a while loop, give hints “too high”/”too low”, count attempts,
end when correct.

In [15]:


secret_number = 42
attempts = 0

while True:
    guess = int(input("Guess the number: "))
    attempts += 1

    if guess > secret_number:
        print("Too high")
    elif guess < secret_number:
        print("Too low")
    else:
        print("Correct!")
        print("Number of attempts:", attempts)
        break

Guess the number: 42
Correct!
Number of attempts: 1

Write a program that asks the user to enter 7 city names, stores them in a list, then
uses a for loop to print each city with its length (e.g. “Cairo – 5 letters”).

In [16]:

cities = []

for i in range(7):
    city = input("Enter city name: ")
    cities.append(city)

for city in cities:
    print(city, "-", len(city), "letters")

Enter city name: cairo
Enter city name: alexandria
Enter city name: fayoum
Enter city name: hurghada
Enter city name: sharm-el-sheikh
Enter city name: giza
Enter city name: city
cairo - 5 letters
alexandria - 10 letters
fayoum - 6 letters
hurghada - 8 letters
sharm-el-sheikh - 15 letters
giza - 4 letters
city - 4 letters